
body{
    background-color:hsl(102, 40%, 49%) ;
    display: inline-flex;
}

.btn{
    background-color: #a3f196;
    border-radius: 6px;
    padding:  10px;
    font-weight: bold;
    justify-content: space-between;
}


.box{
    text-align: center;
    padding: 30px;
    height: 300px;
    width: 200px;
    background-color:#a4b0be;
    border-radius: 20px;
    -webkit-box-shadow: 22px 14px 49px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 22px 14px 49px 10px rgba(0,0,0,0.75);
    box-shadow: 22px 14px 49px 10px rgba(0,0,0,0.75)
    
}
.header{
    width: 1400px;
    background-color: cadetblue;
    height: 90px;
    text-align: center;
    color: rgb(231, 247, 10);
    padding-top: 20px;
}
.NoteArea{
    height: 400px;
    width: 300px;
    background-color:#badc58 ;
    margin-left: 550px;
    margin-top: 50px;
    border-radius: 20px;
    -webkit-box-shadow: 13px 6px 34px 14px rgba(0,0,0,0.57);
    -moz-box-shadow: 13px 6px 34px 14px rgba(0,0,0,0.57);
    box-shadow: 13px 6px 34px 14px rgba(0,0,0,0.57);

}
.textArea{
    width: 300px;
    height: 320px;
    background-color: transparent;
    font-size: 15px;
    outline: none;
}
.btn{
    color:#c50ceb ;
    background-color:#6ab04c ;
    display: flex;
    justify-content: flex-end;
    margin-left: 250px;
    justify-content: center;
    text-align: center;
    outline: none;

}
.input{
    border-radius:  20px 20px 0px 0px;
    background-color: transparent;
    width: 300px;
    outline: none;
    font-size:20px ;
    
}
.btn:hover{
    background-color:#6ab04c  ;
}
.NoteArea2{
    display: inline-block;

    width: 200px;
    background-color:#badc58 ;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
    -webkit-box-shadow: 13px 6px 34px 14px rgba(0,0,0,0.57);
    -moz-box-shadow: 13px 6px 34px 14px rgba(0,0,0,0.57);
    box-shadow: 13px 6px 34px 14px rgba(0,0,0,0.57);
}
.btn-close{

    margin-top: 120px;
    margin-left: 170px;
    font-weight: bold;
    color: blue;
}